.group-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 73%;
  padding: 20px;

  border-style: solid;
  border-width: 1px;
  border-radius: 5px;

  .member-content {
    padding: 18px;
    text-align: center;
    height: auto;
    .mock-image-person {
      border-radius: 50%;
      width: 30px;
    }
  }
  .member-content::before {
    float: left;
    padding-top: 40%;
  }
}
.group-card:hover {
  background-color: #90e0ef;
}
