.group-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  height: 80px;

  width: 50%; // temp

  border-style: solid;
  border-width: 1px;
  border-radius: 5px;

  .member-content {
    margin-left: 10px;
  }
}
.group-card:hover {
  height: 81px;
  width: 51%;
  background-color: grey;
}
